/*:root {
}
*/

html, body{
    height: 100%;
}

body {
    text-align: center;
    margin: 0;
    font-family: "Manrope";
    background-image: url("../assets/Budgeter-background.png");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}


table,tr,th,td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    font-size: large;
}

table{
    width: 100%;
    border-collapse: separate; /* Important: allows rounded corners */
    border-spacing: 0;         /* Removes extra space */
    border-radius: 10px;       /* Rounds the table corners */
    overflow: hidden;      
    }

.table-contents{
    height: 60px;
    
}


.login-form {
    margin-top: 20px;
}



.create-acc-button{
    float: right;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid rgba(221, 166, 48, 0.705);
    transition: 0.5s ease;
}

.create-acc-button:hover {
    background-color: rgba(221, 166, 48, 0.705);
    padding: 3vh;
}


#user-login-box {
    width: 500px;
    margin: 0 auto;
}

.custom-alert {
    display:inline-block;
    border-radius: 15px;
    padding: 15px 20px;
    font-weight: 600;
    background-color: #995f396c;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.nunito{
    font-family: 'Nunito', sans-serif;
}

/*---------- NAVBAR -------------*/
.nav-background{
    background-color: rgba(243, 175, 48, 0.582) !important;
    /*background: linear-gradient(to right,#0300bd,#03be77);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='80' height='20' patternTransform='scale(4) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%237c89ffff'/><path d='M-20.133 4.568C-13.178 4.932-6.452 7.376 0 10c6.452 2.624 13.036 5.072 20 5 6.967-.072 13.56-2.341 20-5 6.44-2.659 13.033-4.928 20-5 6.964-.072 13.548 2.376 20 5s13.178 5.068 20.133 5.432'  stroke-width='0.5' stroke='%2364bb7aff' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-308,-80)' fill='url(%23a)'/></svg>")*/
}


.nav-link{
    color:rgb(68, 68, 68);
    font-weight: 700 !important;
    font-size: 20px !important;
}
/*------------------------------------*/



.general-button{
    border-bottom: 1px solid rgb(243, 175, 48);
    transition: 0.2s ease;
}

.general-button:hover{
    background-color: rgb(243, 175, 48);
}

/*-------CALENDAR----------------*/

.calendar-button{
    color:black; 
    text-decoration: none; 
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
}

.add-event-btn{
    font-weight: 700;
}

.month-heading{
    color:rgb(48, 47, 47);
    font-weight: 700;
}

.calendar-table {
    --bs-table-striped-bg: #fcdc86;
}

.not-avail{
    background-color: #d0d0d1 !important;
}

.event-btn{
    border: 2px solid rgb(68, 68, 68);
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    transition: 0.5s ease;
}
.event-btn:hover{
    scale: 1.05;
}

.work-btn{
    background-color: rgba(94, 176, 253, 0.685);
}
.work-btn:hover{
    background-color: rgba(94, 176, 253, 0.685);
}

.leisure-btn{
    background-color: rgba(250, 51, 94, 0.685);
}
.leisure-btn:hover{
    background-color: rgba(250, 51, 94, 0.685);
}

.bills-btn{
    background-color: rgba(51, 64, 250, 0.685);
}
.bills-btn:hover{
    background-color: rgba(51, 64, 250, 0.685);
}
/*------------------------------------*/



/*-------SIGN UP----------------*/

.sign-up-box{
}

/*------------------------------------*/