/*:root {
}
*/

body {
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    background-color: #d3d3d3a1;
    min-height: 100vh;
}

table,tr,th,td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    font-size: large;
}

table{
    width: 100%;
}

.table-contents{
    height: 60px;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
}

.login-form {
    margin-top: 150px;
}

.purple-color{
    background: linear-gradient(to bottom,#0300bd,#7308ca) !important;
}

.navi-menu-text{
    color: #b6b5bb;
    font-family: Arial, Helvetica, sans-serif;
}

#user-login-box {
    width: 50%;
    margin: 0 auto;
}