{% extends 'base.html' %}

{% block head %}
<title>Calendar</title>
{% endblock %}

{% block body %}
<div class="p-4">
  <div class="container">
    <h3 class="mb-0" style="margin-left: -1150px; color:rgb(238, 238, 238)">{{ month_name }}</h3>

    <!-- Month/Year Selection Form -->
    <form method="GET" class="row g-3 justify-content-center mb-4" style=" margin-left: 900px">
      <div class="col-auto">
        <select name="month" class="form-select" >
          {% for m_value, m_name in months %}
            <option value="{{ m_value }}" {% if m_value == month %}selected{% endif %}>{{ m_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <select name="year" class="form-select">
          {% for y in years %}
            <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-info">Show Calendar</button>
      </div>
    </form>
<!--------------------------------------------------------------------------------------------------------------------------------->


<!-- Modal -->
<div class="modal fade" id="event_modal" tabindex="-1" aria-labelledby="event_modal_label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="event_modal_label">{{modal_title}}</h1>
      </div>
      <div class="modal-body">
        {% if add_event %}
        <form method="POST" action="{{ url_for('addEvent', cell_id=cell_id) }}">
          <input class="form-control" type="text" placeholder="Event Name" aria-label="Event Name" name="event-name">
          <select class="form-select" aria-label="Event Type" name="event-type">
            <option selected value="" disabled>Event Type</option>
            <option value="work">Work</option>
            <option value="leisure">Leisure</option>
            <option value="bills">Bills</option>
          </select>
          <input class="form-control" type="number" placeholder="Transaction" aria-label="Transaction" name="event-transaction">
          <input class="form-control" type="text" placeholder="Description" aria-label="Description" name="event-description">
        {% else %}
          {{ event_details }} <br>
          {{ event_transaction }}
        {% endif %}
      </div>
      {% if add_event %}
          <input type="hidden" name="month" value="{{month}}">
          <button type="submit" class="btn btn-primary" name = "year" value="{{year}}">Save Changes</button>
        </form>
        <form class="modal-footer" method="GET" action="/calendar">
          <input type="hidden" name="month" value="{{month}}">
          <button type="submit" class="btn btn-secondary" name = "year" value="{{year}}">Cancel</button>
        </form>
      {% else %}
      <div class="modal-footer">
        <form method="POST" action="{{url_for('viewEvent', cell_id=cell_id, event=event)}}">
          <input type="hidden" name="month" value="{{month}}">
          <input type="hidden" name="year" value="{{year}}">
          <button type="submit" class="btn btn-secondary" name = "year" value="{{year}}">Delete</button>
        </form>
        <form method="GET" action="/calendar">
          <input type="hidden" name="month" value="{{month}}">
          <button type="submit" class="btn btn-primary" name = "year" value="{{year}}">Close</button>
        </form>
        {% endif %}
      </div> 
    </div>
  </div>
</div>

{% if show_modal %}
<script>
  var myModal = new bootstrap.Modal(document.getElementById('event_modal'));
  myModal.show();
</script>
{% endif %}
<!--------------------------------------------------------------------------------------------------------------------------------->

    <!-- Calendar Table -->
    <table class="table table-bordered text-center table-striped">
      <thead class="table-light">
        <tr>
          <th><img src="{{ url_for('static', filename='assets/sun.png') }}" width = "40px" alt="SUN"></th>
          <th><img src="{{ url_for('static', filename='assets/mon.png') }}" width = "40px" alt="MON"></th>
          <th><img src="{{ url_for('static', filename='assets/tue.png') }}" width = "40px" alt="TUE"></th>
          <th><img src="{{ url_for('static', filename='assets/wed.png') }}" width = "40px" alt="WED"></th>
          <th><img src="{{ url_for('static', filename='assets/thu.png') }}" width = "40px" alt="THU"></th>
          <th><img src="{{ url_for('static', filename='assets/fri.png') }}" width = "40px" alt="FRI"></th>
          <th><img src="{{ url_for('static', filename='assets/sat.png') }}" width = "40px" alt="SAT"></th>
        </tr>
      </thead>
      <tbody>
        {% for week in calendar %}
        <tr>
          {% for day in week %}
          {% set cell_id = day~"-"~month~"-"~year %}
            <td  class="{{ 'not-avail' if day == 0 else '' }} pacifico" height="150px">
              <div align="left">
                {% if day != 0 %}
                {{day}}
              </div>
                  <div align ="right">
                    <a type="button" class="btn btn-warning"  href="{{ url_for('addEvent', cell_id=cell_id) }}">
                    + <!--REPLACE WITH "{{cell_id}}" WHEN DEBUGGING-->
                    </a>
                  </div>
                  {% for event in session["events"][cell_id] %}
                  <a type="button" href = "{{ url_for('viewEvent', cell_id=cell_id, event = event) }}" class="btn {% if event[1] == 'work' %} btn-primary 
                  {% elif event[1] == 'leisure' %} btn-danger 
                  {% elif event[1] == 'bills' %} btn-dark 
                  {% else %} btn-warning {% endif %}">
                  {{ event[0] }} 
                  </a>
                  <br>
                  {% endfor %}
                {% endif %}

            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------------------->

{% endblock %}

<!--"{{ 'not-avail' if day == 0 else '/transactions' }}"-->