{% extends 'base.html' %}

{% block head %}
<title>Information</title>
{% endblock %}

{% block body %}
<div class = "Info">
    <h1>Hello {{ session["user"].capitalize() }}</h1>
    <h3>{{month_name}}'s Analytics</h3>
</div>
    <form method="GET" class="row g-3 justify-content-center mb-4" style=" margin-left: 900px">
      <div class="col-auto">
        <select name="month" class="form-select" >
          {% for m_value, m_name in months %}
            <option value="{{ m_value }}" {% if m_value == month %}selected{% endif %}>{{ m_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <select name="year" class="form-select">
          {% for y in years %}
            <option value="{{ y }}" {% if y == year %}selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-info">Show Calendar</button>
      </div>
    </form>

<!--Monthly Piecharts-->
<div style="height:50%" class="d-flex justify-content-center gap-5">
    <canvas id="MonthlySpendPie"  style="margin-right:5%"></canvas>
    <canvas id="MonthlyIncomePie"  style="margin-left:5%"></canvas>
</div>
<!----------------------------------------------------------------------------------->

<!--Weekly Linechart-->
<div style="height: 50%" class="d-flex justify-content-center">
  <canvas id="WeeklyLineChart"></canvas>
</div>
<!----------------------------------------------------------------------------------->



<!--Weekly Barchart-->
<div style="height: 50%;" class="d-flex justify-content-center">
  <canvas id="WeeklyBarChart" ></canvas>
</div>
<!----------------------------------------------------------------------------------->

<br>
<br>
<h2>{{year}}'s Analytics</h2>
<br>

<!--Yearly Piecharts-->
<div style="height:50%" class="d-flex justify-content-center gap-5">
    <canvas id="YearlySpendPie"  style="margin-right:5%"></canvas>
    <canvas id="YearlyIncomePie"  style="margin-left:5%"></canvas>
</div>
<!----------------------------------------------------------------------------------->

<!--Monthly Barchart-->
<div style="height: 50%;" class="d-flex justify-content-center">
  <canvas id="MonthlyBarChart" ></canvas>
</div>
<!----------------------------------------------------------------------------------->

<!--Yearly Linechart-->
<div style="height: 50%" class="d-flex justify-content-center">
  <canvas id="YearlyLineChart"></canvas>
</div>
<!----------------------------------------------------------------------------------->
 
<script>
  //Piecharts JS--------------
  //MONTH------------
  const msLabel = {{ month_spending_labels | tojson }};
  const msValues = {{ month_spending_values | tojson }};
  
  new Chart(document.getElementById('MonthlySpendPie'), {
    type: 'pie',
    data: {
      labels: msLabel,
      datasets: [{ data: msValues }]
    },
    options: {
        plugins:{
        title: {
            display: true,
            text: "Spending (£)",
            font: {
                size: 20
            }
        }
        }
    }
  });
  
  const miLabel = {{ month_income_labels | tojson }}; 
  const miValues = {{ month_income_values | tojson }};
  
  new Chart(document.getElementById('MonthlyIncomePie'), {
    type: 'pie',
    data: {
      labels: miLabel,
      datasets: [{ data: miValues }]
    },
    options: {
        plugins: {
        title: {
            display: true,
            text: "Income (£)",
            font: {
                size: 20
            }
        }
        }
    }
  });

  //YEAR------------------
  const ysLabel = {{ year_spending_labels | tojson }};
  const ysValues = {{ year_spending_values | tojson }};
  
  new Chart(document.getElementById('YearlySpendPie'), {
    type: 'pie',
    data: {
      labels: ysLabel,
      datasets: [{ data: ysValues }]
    },
    options: {
        plugins:{
        title: {
            display: true,
            text: "Spending (£)",
            font: {
                size: 20
            }
        }
        }
    }
  });
  
  const yiLabel = {{ year_income_labels | tojson }}; 
  const yiValues = {{ year_income_values | tojson }};
  
  new Chart(document.getElementById('YearlyIncomePie'), {
    type: 'pie',
    data: {
      labels: yiLabel,
      datasets: [{ data: yiValues }]
    },
    options: {
        plugins: {
        title: {
            display: true,
            text: "Income (£)",
            font: {
                size: 20
            }
        }
        }
    }
  });
//------------------------------------------------------------------------------------

//Linegraphs JS-------------------------------------

  //MONTH---------------
  const monthLineLabels = {{ days | tojson }};
  const monthLineValues = {{balance | tojson }};

  new Chart(document.getElementById('WeeklyLineChart'),{
    type: 'line',
    data: {
      labels: monthLineLabels,
      datasets: [{
        label: "Balance(£)",
        data: monthLineValues,
        borderColor: "black",
        backgroundColor: "rgba(32, 110, 16, 0.8)",
        tension: 0,
        fill:false //CAN SET TO TRUE
      }]
    },
    options: {
      scales: {
        y:{
          beginAtZero: false //CAN SET TO TRUE
        }
      },
      responsive: true,
      plugins: {
        legend: { position: 'top' },
        title: {
          display: true,
          text: 'Balance Trend Over {{month_name}}'
        }
      }
    }
  });


  //YEAR-------------------------
  const monthLabels = ["January","Febuary","March","April","May","June","July","August","September","October","November","December"];
  const yearLineValues = {{monthBalance | tojson }};

  new Chart(document.getElementById('YearlyLineChart'),{
    type: 'line',
    data: {
      labels: monthLabels,
      datasets: [{
        label: "Balance(£)",
        data: yearLineValues,
        borderColor: "black",
        backgroundColor: "rgba(32, 110, 16, 0.8)",
        tension: 0,
        fill:false //CAN SET TO TRUE
      }]
    },
    options: {
      scales: {
        y:{
          beginAtZero: false //CAN SET TO TRUE
        }
      },
      responsive: true,
      plugins: {
        legend: { position: 'top' },
        title: {
          display: true,
          text: 'Balance Trend Over August'
        }
      }
    }
  });
//------------------------------------------------------------------------------------





//Barcharts JS-------------------------------------
  //MONTH--------------
  const weekBarLabels = ["Week 1","Week 2","Week 3", "Week 4","Week 5"];
  new Chart(document.getElementById('WeeklyBarChart'),{
    type: 'bar',
    data: {
      labels: weekBarLabels,
      datasets: [
      { 
        label: "Income",
        data: {{ weekIncome }},
        backgroundColor: ["green"],
        borderWidth: 1 
      },
      {
        label: "Spending",
        data: {{ weekSpend }},
        backgroundColor: ["red"],
        borderWidth : 1
      }
      ]
    },
    options: {
      scales: {
        y:{
          beginAtZero: true
        }
      },
      plugins: {
        legend: { position: 'top'},
        title:{
          display: true,
          text: 'Income vs Expenses of ' + "{{month_name}}",
        }
      }
    }
  });


  //YEAR--------------
  //reuse monthLabels;
  new Chart(document.getElementById('MonthlyBarChart'),{
    type: 'bar',
    data: {
      labels: monthLabels,
      datasets: [
      { 
        label: "Income",
        data: {{ monthIncome }},
        backgroundColor: ["green"],
        borderWidth: 1 
      },
      {
        label: "Spending",
        data: {{ monthSpend }},
        backgroundColor: ["red"],
        borderWidth : 1
      }
      ]
    },
    options: {
      scales: {
        y:{
          beginAtZero: true
        }
      },
      plugins: {
        legend: { position: 'top'},
        title:{
          display: true,
          text: 'Income vs Expenses of ' + "{{year}}",
        }
      }
    }
  });

//------------------------------------------------------------------------------------
</script>
{% endblock %}