{% extends 'base.html' %}

{% block head %}
<title>login</title>
{% endblock %}

{% block body %}
<!--
<form action='#' method='POST'>
    <input type="text" name="username" id="username"> 
    <button type="submit" class="btn btn-primary">Login</button>
</form>
-->


<img src="{{ url_for('static', filename='assets/budgeter-logo.png') }}" width = "300" style= "display:block; margin: 0 auto; margin-top: 10px">


<form action = '#' method = 'POST' class="login-form">
  <div class="mb-3">
    <label for="username" class="form-label"><h3>Username</h3></label>
    <input type="text" id = "user-login-box" class="form-control form-control-lg" name="username" id="username">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %} 