{% extends 'base.html' %}

{% block head %}
<title>login</title>
{% endblock %}

{% block body %}
<!--
<form action='#' method='POST'>
    <input type="text" name="username" id="username"> 
    <button type="submit" class="btn btn-primary">Login</button>
</form>
-->


<img src="{{ url_for('static', filename='assets/budgeter-logo.png') }}" width = "300" style= "display:block; margin: 0 auto; margin-top: 10px">


<form action = '#' method = 'POST' class="login-form">
  <div class="mb-3">
    <input type="text" id = "user-login-box" placeholder="Username" class="form-control" name="username" id="username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" style="width:500px; margin: 0 auto" id="password" name ="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-info">Login</button>
</form>


{% endblock %} 