{% extends 'base.html' %}

{% block head %}
<title>Create Account</title>
{% endblock %}

{% block body %}
<form class="input-group mb-3 justify-content-center" action = '#' method = 'POST'>
  <div>
    <img src="{{ url_for('static', filename='assets/budgeter-logo-3.png') }}" width = "300" style= "display:block; margin: 0 auto; margin-top: 10px">
  <input type="text" class="form-control sign-up-box mt-2" placeholder="Username" aria-label="Username" name="username" aria-describedby="basic-addon1">
  <input type="text" class="form-control mt-2" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password">
  <input type="text" class="form-control mt-2" placeholder="Current Balance" aria-label="Income" aria-describedby="basic-addon1" name="income">
  <input type="text" class="form-control mt-2" placeholder="Monetary Goal (Number)" aria-label="Goal" aria-describedby="basic-addon1" name="goal">
  <button type="submit" class="btn general-button mt-3">Sign Up</button>
  </div>
</form>

{% endblock %}